.QuestionsLinks {
    display: inline-block;
    text-align: center;
    margin:-10px;
    width: 80%;
}

.QuestionsLinks table {
    margin: auto;
    border-collapse: collapse;
	  width: 35%; 
}

.QuestionsLinks table,th,td {
  border: 1px solid black;
  padding:4px;
}

.QuestionsLinks th {
  background-color: #0b022ca4;
  color: white;
}
  
.QuestionsLinks td {
  color: black;
  font-weight: bold;
}

.QuestionsLinks #java{
    background-color: rgba(199, 116, 116, 0.692); 
}

.QuestionsLinks #spring{
    background-color: rgba(100, 146, 89, 0.733);
}

.QuestionsLinks #web{
  background-color: rgba(126, 136, 172, 0.74);
}

.QuestionsLinks a{
    color: rgb(2, 2, 2);
    text-decoration: none;
    font-weight: bold;
}

.QuestionsLinks #idLinks:hover{
    background-color: rgb(11, 62, 104);
    color: white;
}

.QuestionsLinks #idLinks a:hover{
  background-color: rgb(11, 62, 104);
  color: white;
}

@media only screen and (max-width:800px) {
  .QuestionsLinks table {
    font-size: 15px;
    width:80%
  }   
}

@media only screen and (max-width:500px) {
    .QuestionsLinks table {
	    font-size: 10px;
      width:80%
	  } 
}