#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 2px;
    padding-right: 12px;
    border: none;
    outline: none;
}

#nav-wrap {
  font: 17px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background:rgba(27, 27, 27, 0.6) none no-repeat scroll 0 0;

}

ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

.smoothscroll {
  display: inline-block;
  padding: 0px 18px;
  line-height: 32px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 250, 0) ;
}

.active {
  color: rgb(149, 177, 140);
}

ul#nav li .smoothscroll:hover { 
  background-color: rgb(150, 201, 152) !important; 
  color: black !important;
 }

@media only screen and (max-width:500px) {

    #nav-wrap {
      max-width: 100%;
      font-size: 7px;
      padding-right: 0px;
      position: inherit;
    }
    #nav-wrap ul, #nav-wrap li, #nav-wrap a{
      padding:2%;
    }
}